
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #dad3d3;
    width: 100%;
}

.logo {
    font-size: 24px;
    color: #518b0d;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

main {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe-container {
    display: flex;
    width: 100%;
}

#recipe-list {
    width: 30%;
    background-color: #f9f9f9;
    padding: 20px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.recipe-item {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
}

.recipe-item:hover {
    background-color: #e0e0e0;
}

#recipe-display {
    width: 70%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#recipe-display img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    #recipe-list, #recipe-display {
        width: 100%;
        margin-right: 0;
    }

    #recipe-display img {
        max-height: 200px;
    }
}
