/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 200px;
    background-color: #dad3d3;
}

.logo {
    font-size: 30px;
    color: #518b0d;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.recipe-container {
    display: flex;
    width: 90%;
    max-width: 1200px;
}


#recipe-list {
    width: 30%;
    background-color: #f9f9f9;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#recipe-display {
    flex: 2;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 20px;
}

img {
    max-width: 100%;
    height: auto;
}
